<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${newUser}">
    <br>
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="lastName">Введите фамилию</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="age">Введите возраст</label>
    <input type="number" th:field="*{age}" id="age" min="1" max="125">

    <br>
    <input type="submit" value="Создать">
</form>

</body>
</html>