<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getLastName()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить">
</form>
<form th:action="@{/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<form th:action="@{/users}">
    <input type="submit" value="Главная страница">
</form>
</body>
</html>